 {% extends  'base.html' %}

{% block content %}

    <article class="message">
      <div class="message-header">
        <p>{{ post.title  }} ~ {{post.user.username}}</p>
        {% if g.user %}
        <div>
          <a class="button is-primary is-small has-text-weight-bold" href="{{ url_for('postBp.updateView', post_id=post.id) }}">
            Edit Post
          </a>
          <a class="button is-danger is-small has-text-weight-bold" href="{{ url_for('postBp.delete', post_id=post.id) }}">
            Delete Post
          </a>
        </div>

        {% endif %}
      </div>
       <div class="message-body content">
        {{ post.body }}
      </div> 
    </article>
  
{% endblock %}